.header {
  color: blue;
  text-align: center;
  font-size: 25px;
}

/* Supporting */
.supporting {
  background-color: #1c1c1c;
  padding: 80px 0 80px;
  text-align: center;
}

.supporting .col {
  float: left;
  padding: 40px;
  width: 25%;
}

.supporting h2 {
  color: #ffa800;
  font-size: 40px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}



