.header h1 {
  color: blue;
  text-align: center;
  font-size: 50px;
}

/* Supporting */
.supporting {
  background-color: #1c1c1c;
  padding: 50px 0 70px;
  text-align: center;
}

.supporting .col {
  float: left;
  padding: 40px;
  width: 30%;
}

.supporting h2 {
  color: #ffa800;
  font-size: 30px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}
.getsocial
{
 width: 1000px; height: 100px; margin: auto; background-color: red;
 border: 5px solid blue;"
 position: relative; 
}
.getsocial span
{
 font-family:impact,charcoal,sans-serif; font-size: 60px;  color: white;  
}
.getsocial img
{
   margin-bottom: 40px;
   margin-left: 20px;
 position: relative;
}

